*:not(h2){
    position: absolute;
}
.headdings{
    display: flex;
    width: 850px;
    height: 100px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
h2{
    width: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.container, .imgcont{
    top: 100px;
    width: 400px;
    height: 300px;
    background-color: #fade8b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 30px solid #fade8b;
    background-color: #e3516e;
    z-index: 1;
}
.top{
    top: 26.5%;
    width: 250px;
    height: 50px;
    background-color: #e3516e;
    clip-path: polygon(0%100%, 25%0, 75%0, 100%100%);
}
.bottom{
    scale: -1;
    top: 56.5%;
    width: 250px;
    height: 50px;
    background-color: #e3516e;
    clip-path: polygon(0%100%, 25%0, 75%0, 100%100%);
}
.imgcont{
    left: 450px;
}
