body{
    position: absolute;
}
.headdings{
    display: flex;
    width: 850px;
    height: 100px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    position: relative;

}
h2{
    width: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
h2:not(.profil h2){
    width: 400px;
}
.usporedba{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 400px;
    height: 300px;
    background-color: #fade8b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 30px solid #fade8b;
    background-color: #e3516e;
    z-index: 1;
    position: absolute;

}
.top{
    top: 26.5%;
    width: 250px;
    height: 50px;
    background-color: #e3516e;
    clip-path: polygon(0%100%, 25%0, 75%0, 100%100%);
    position: absolute;
}
.bottom{
    scale: -1;
    top: 56.5%;
    width: 250px;
    height: 50px;
    background-color: #e3516e;
    clip-path: polygon(0%100%, 25%0, 75%0, 100%100%);
    position: absolute;
}

.profil{
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    border: 3px solid #000;
    display: flex;
    align-items: center;
}
.podatci{
    width: 350px;
    display: flex;
    flex-direction: column;
}
.pfp{
    width: 30%;
    margin-left: 15px;
    
}
img{
    width: 100%;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.linkovi{
    display: flex;
    justify-content: space-evenly;
}
button{
    width: auto;
    height: 30px;
    background-color: #8576FF;
    border: none;
    border-radius: 15px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}