h1{
    text-align: center;
}
.red{
    width: 500px;
    height: 300px;
    background-color: darkred;
    position: relative;
    margin: auto;
}
.blue{
    width: 500px;
    height: 150px;
    background-color: darkblue;
    position: absolute;
    top: 25%;
}
.white{
    background-color: white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: 10px;
}

.plavi{
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 500px;
    height: 300px;
    background-color: darkblue;
    position: relative;
    margin: auto;
}
.bijeli_h{
    width: 500px;
    height: 75px;
    position: absolute;
    background-color: white;
}
.bijeli_v{
    width: 75px;
    height: 300px;
    position: absolute;
    left: 100px;
    background-color: white;
}
.crveni_v{
    width: 40px;
    height: 300px;
    position: absolute;
    left: 117px;
    background-color: red;
}
.crveni_h{
    height: 40px;
    width: 500px;
    position: absolute;
    background-color: red;

}

.teal{
    width: 500px;
    height: 300px;
    background-color: teal;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: -1;
}
.trokut{
    border-top:  150px solid transparent;
    border-left: 200px solid black;
    border-bottom: 150px solid transparent;
    z-index: 1;
}
.yellow{
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: yellow;
    z-index: 0;
}

.tata{
    margin: auto;
    display: flex;
    border: 2px solid black;
    width: 500px;
    height: 300px;
}
.bijela{
    width: 150px;
    height: 300px;
    background-color: white;
}
.crvena{
    flex-grow: 1;
    height: 300px;
    background-color: red;
}
.triangle{
    background-color: red;
    border-top:  30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    z-index: 1;
}
