h1{
    text-align: center;
}
.red{
    width: 500px;
    height: 300px;
    background-color: darkred;
    position: relative;
    margin: auto;
}
.blue{
    width: 500px;
    height: 150px;
    background-color: darkblue;
    position: absolute;
    top: 25%;
}
.white{
    background-color: white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: 10px;
}

.plavi{
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 500px;
    height: 300px;
    background-color: darkblue;
    position: relative;
    margin: auto;
}
.bijeli_h{
    width: 500px;
    height: 75px;
    position: absolute;
    background-color: white;
}
.bijeli_v{
    width: 75px;
    height: 300px;
    position: absolute;
    left: 100px;
    background-color: white;
}
.crveni_v{
    width: 40px;
    height: 300px;
    position: absolute;
    left: 117px;
    background-color: red;
}
.crveni_h{
    height: 40px;
    width: 500px;
    position: absolute;
    background-color: red;

}

.teal{
    width: 500px;
    height: 300px;
    background-color: teal;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: -1;
}
.trokut{
    border-top:  150px solid transparent;
    border-left: 200px solid black;
    border-bottom: 150px solid transparent;
    z-index: 1;
}
.yellow{
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: yellow;
    z-index: 0;
}

.tata{
    margin: auto;
    display: flex;
    border: 2px solid black;
    width: 500px;
    height: 300px;
}
.bijela{
    width: 150px;
    height: 300px;
    background-color: white;
}
.crvena{
    flex-grow: 1;
    height: 300px;
    background-color: red;
}
.triangle{
    background-color: red;
    border-top:  30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    z-index: 1;
}

.container{
    display: flex;
    width: 500px;
    height: 300px;
    margin: auto;
}
.cam1{
    flex-grow: 1;
    background-color: #007a5e;
}
.cam2{
    flex-grow: 1;
    max-width: 166.66px;
    background-color: #ce1126;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cam3{
    flex-grow: 1;
    background-color: #fcd116;
}
.zvijezda{
    width: 100px;
    height: 100px;
    background-color: #fcd116;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
}
.turska{
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tur1{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.tur2{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 4px;
}
.zvijezda1{
    width: 100px;
    height: 100px;
    background-color: #fff;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
    transform: rotate(-20deg);
    position: relative; 
    left: -15px;

}