.row0{
    background-color: #40b6ff;
    color: white;
}
.row1{
    background-color: #eee;
}
.row2{
    background-color: white;
}
.row3{
    background-color: #eee;
}
.row4{
    background-color: white;
}
.row5{
    background-color: #eee;
}
table th, td{
    border: 1px solid lightgray;
    text-align: left;
}
table{
    border-collapse: collapse;
    width: 25%;
    height: 100%;
    margin: auto;
    margin-top: 20%;
    white-space: nowrap;
}
td, th{
    padding: 1%;
}