.blue{
    width: 500px;
    height: 300px;
    background-color: blue;
    position: relative;
    top: 200px;
    left: 200px;
}
.red{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 150px;
    left: 250px;
}