body{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 100%;
}
p{
    color: white;
    text-align: center;
    font-size: large;
}
.meme{
    font-family: "Libre Baskerville", serif;
    width: 50%;
    margin-left: 25%;
}