body{
    background-color: hsl(0, 0%, 95%);
}
.tata{
    width: 33%;
    background-color: white;
    border-radius: 17px;
    box-shadow: 5px 5px 10px 0px hsl(0, 0%, 70%); 
    min-height: 80vh;
    max-width: 50vh;
}
img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
p, h2{
    padding-left: 10px;
}
hr{
    padding-left: 10px;
    padding-right: 10px;
}