body{
    background-color: hsl(0, 0%, 95%);
}
.flexlay {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
}
.ice{
    background-color: white;
    border-radius: 17px;
    box-shadow: 5px 5px 10px 0px hsl(0, 0%, 70%); 
    min-height: 80vh;
    max-width: 50vh;
    position: relative;
}
.flower{
    background-color: white;
    border-radius: 17px;
    box-shadow: 5px 5px 10px 0px hsl(0, 0%, 70%);
    min-height: 80vh;
    max-width: 50vh;
    position: relative;
}
.sunset{
    background-color: white;
    border-radius: 17px;
    box-shadow: 5px 5px 10px 0px hsl(0, 0%, 70%);
    min-height: 80vh;
    max-width: 50vh;
    position: relative;
}
img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
p:not(.twt), h1{
    padding-left: 10px;
}
p{
    font-size: 15px;
}
p, h1{
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 15%);
}
h1{
    font-weight: 400;
}
.twt{
    width: 90%;
    margin-left: 10px;
    padding-top: 10px;
    border-top: 1px solid hsl(0, 0%, 75%);
    position: absolute;
    bottom: 0%;
}