/* class selector
više istoimenih klasa */
.treci{
    color: green;
}

/* element selector */
h2, p {
    color: blueviolet;
}

/* id selector 
samo jedan */

#naslov3 {
    color: chocolate;
}

/* univrerzalni selector */

* {
    background-color: antiquewhite;
}

/*  */
p[draggable] {
    background-color: aqua;
}